@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f9f9fb; /* light whitish track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #a78bfa, #60a5fa); /* purple → blue */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #7c3aed, #2563eb); /* darker purple/blue on hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a78bfa #f9f9fb; /* thumb track */
}


@theme {
  --color-primary: #321270;
  --color-bg: #F4F6FB;
}